*{
    margin: 0;
    padding: 0;
}
.main-nav-div{
    background-color: #f6f6ff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
    border-radius: 5px;
    padding: 10px;
   
}
.nav-logo{
    display: flex;
    align-items: center;
    gap: 10px;
}
.nav-logo img{
    height: 30px;
}
.nav-button{
    display: flex;
    align-items: center;
    gap: 30px;
}
.chacbox-btn{
    display: flex;
    align-items: center;
    gap: 10px;
    background: #d0d6d8;
    padding: 5px;
    border-radius: 2px;
    cursor: pointer;
}
.chacbox-btn img{
    width: 15px;
}
.color-btn img{
    width: 25px;
    cursor: pointer;
}

/* main section head start  */
.mainsection-head-main{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 10px;
    width: 90%;
    margin: auto;
}
.head-task{
    display: flex;
    align-items: center;
    gap: 10px ;
}
.head-chacbox{
background-color: rgb(227, 240, 240);
padding: 10px;
border-radius: 3px;
}
.head-chacbox-btn{
    display: flex;
    gap: 10px;
    align-items: center;
    cursor: pointer;

}
.head-chacbox-btn img{
    width: 15px;
    cursor: pointer;
}
.head-disconver{
   background-color: aqua;
   padding: 10px;
}
.discover-imgtxt{
    display: flex;
    align-items: center;
    cursor: pointer;
}




/* main section head start  */